
    <mat-toolbar  color="primary" class="btn-toolbar" >
        <span >PROTOCOLO CONTROLE GLICÊMICO</span>
      </mat-toolbar>
      <div class="main-div">
      <mat-card >
      <form class="example-form" [formGroup]="angForm">
  <mat-form-field class="example-full-width">
    <input  type="number" (click)="infusaoAtual.select()"  formControlName="infusaoAtual" name="infusaoAtual" matInput placeholder="Taxa de infusão atual" #infusaoAtual>
    <span matSuffix> &nbsp;ml/h</span>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input  (click)="glicoseAtual.select()" type="number" formControlName="glicoseAtual" name="glicoseAtual" matInput placeholder="Glicemia atual" #glicoseAtual>
      <span matSuffix> &nbsp;mg/dl</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input  type="number"  (click)="glicoseAnterior.select()"  formControlName="glicoseAnterior" name="glicoseAnterior" matInput placeholder="Glicemia prévia " #glicoseAnterior>
        <span matSuffix> &nbsp;mg/dl</span>
      </mat-form-field>
      <div class="example-button-row">
      <button [disabled]="angForm.invalid" type='button'  mat-raised-button color="primary" (click)="calcular(infusaoAtual.value, glicoseAtual.value, glicoseAnterior.value)" >Calcular</button>
    </div>
    </form>
  </mat-card>
</div>
<p></p>
<div class="main-div">
    <mat-card class="cardResult" *ngIf="resultado" > {{resultado}}</mat-card>
</div>

