.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.btn-toolbar{
  text-align: center !important;
  display: Block !important;
  padding-top: 15px;
}

.example-full-width {
  width: 90%;
}
.main-div{

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardResult {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
